.n1 {
    border: 1px solid;
    display: inline-grid;
    margin: -2px;
    margin-bottom: -23px;
    min-height: 200px;
    width: 270px;
    color: white;
    min-height: 20px;
    min-width: 377px;

    }
.news_table {
    position: relative;
    padding-bottom: 0px;
}
z
.news_table h3 {
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 1;
  font-size: 17px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: bold;
}

.pt-md-5, .py-md-5 {
    padding-top: 0rem !important;
}

.navbar-down {
	padding: 1em 5em;
	z-index: 999;
	width: 100%;
	left: 0;
}
.navbar-down .navbar-nav .nav-link {
	font-weight: 600;
	text-transform: capitalize;
	color: #000;
	padding: 4px 15px;
	letter-spacing: 1px;
}
.navbar-down .navbar-nav .nav-link:hover,
.navbar-down .navbar-nav .nav-link:focus,
.navbar-down .navbar-nav .show>.nav-link,
.navbar-down .navbar-nav .active>.nav-link,
.navbar-down .navbar-nav .nav-link.show,
.navbar-down .navbar-nav .nav-link.active {
	color: #29aae3;
}
.navbar-down {
    padding: 1em 1em;
}

.navbar-down .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-down .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.new {
    display: inline-grid;
}
.cat_item, a.cat_item {
	text-align: center;
	width: 30%;
    padding: 5px 2px 3px;
    background: #ffea00;
    position: relative;
    top: 30px;
    left: 10px;
    z-index: 12;
    line-height: 9px;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    color: #000;
}

.uls ul {
	margin-left:30px;
}